<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A DNA sequence editor that allows you to compare and analyse changes in genome sequences.">
    <title>DNA Sequence Editor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="my-4 text-center">DNA Sequence Editor</h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flashed-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
      <div class="d-flex justify-content-center align-items-center w-100">
        <form action="/" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="tsv_file" class="mr-2">Select a TSV file:</label>
            <div class="file-input-box mr-2">
              <input type="file" id="tsv_file" name="tsv_file" accept=".tsv" class="form-control-file">
            </div>
            <input type="submit" value="Upload" class="btn btn-primary">
          </div>
        </form>
      </div>
      {% if data_and_changes %}
        <h2 class="my-4">Results</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Original Sequence</th>
              <th>Edited Sequence</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            {% for sequence_data, change_message in data_and_changes %}
              <tr>
                <td>{{ sequence_data.id }}</td>
                <td>{{ sequence_data.original_seq }}</td>
                <td>{{ sequence_data.edited_seq }}</td>
                <td>{{ change_message }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      {% if counts %}
        <button id="toggleChartBtn" class="btn btn-primary my-4">Show/Hide Chart</button>
        <div id="chart" class="my-4" style="display: none;"></div>
      {% endif %}
      <script>
        {% if counts %}
          const data = [
            {% for edit_type, count in counts.items() %}
              { type: '{{ edit_type }}', count: {{ count }} },
            {% endfor %}
          ];
          renderChart(data);
          toggleChartVisibility("chart", "toggleChartBtn");
        {% endif %}
      </script>
    </div>
    <script type="text/javascript">
    var sc_project=12873092;
    var sc_invisible=1;
    var sc_security="cadb31cd";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter">
      <a title="Web Analytics" href="https://statcounter.com/" target="_blank">
        <img class="statcounter" src="https://c.statcounter.com/12873092/0/cadb31cd/1/" alt="Web Analytics" referrerPolicy="no-referrer-when-downgrade">
      </a>
    </div>
    </noscript>
  </body>
</html>
